@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

body *{
  box-sizing: border-box;
}

.container{
  max-width: 1450px;
  margin: 0 auto;
}

.header .button{
  box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0,2);
  background: rgba(227, 184, 115, 1);
  outline: 0;
  border: 0;
  padding: 13px 33px;
  border-radius: 2px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-style: italic;
  font-family: 'Nunito Sans', Helvetica, Arial sans-serif; 
}


.header{
 background: rgba(19, 19, 19, 1);
}

.header-con{
 font-family: 'Nunito Sans', Helvetica, Arial sans-serif; 
 display: flex;
 justify-content: space-between;
 height: 83px;
 align-items: center;
}

.header-nav{
  list-style: none;
  display: flex;
}

.header-nav_item{
  margin-right: 47px;
}

.header-nav_item a { 
  text-decoration: none;
  color:rgba(255, 255, 255, 1);
}

.header .logo{
  color: rgba(227, 184, 115, 1);
  font-family: 'Nunito Sans', Helvetica, Arial sans-serif;
}

main .hero{
  background: url(../img/hero.png);
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  position: relative;
}

main .title{
  font-family: "Yeseva One", Helvetica, Arial sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 105px;
  width: 676px;
}

.hero-con{
  position: relative;
  z-index: 1;
}
.hero-overlay{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.title span{
  color: rgba(227, 184, 115, 1);
}

.one{
  font-family: 'Nunito Sans', Helvetica, Arial sans-serif;
  height: 89px;
  width: 504px; 
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  margin-top: 19px;
}

.buttonone{
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  background: rgba(227, 184, 115, 1);
  outline: 0;
  border: 0;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-style: 400px;
  font-family: 'Nunito Sans', Helvetica, Arial sans-serif;
  padding: 19px 41px;
  margin-right: 20px;
}

.buttontwo{
  background: none;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  color: rgba(255, 255, 255, 1);
  padding: 19.09px 23px 20.57px 22px;
  text-transform: uppercase;
  font-style: 400px;
  font-family: 'Nunito Sans', Helvetica, Arial sans-serif;
  margin-top: 41px;
}