@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');

body {
  margin: 0;
}

.container{
  max-width: 1250px;
  margin: 0 auto;
}

.header .button{
  box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0,2);
  background: rgba(227, 184, 115, 1);
  outline: 0;
  border: 0;
  padding: 13px 33px;
  border-radius: 2px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-style: italic;
  font-family: 'Nunito Sans', Helvetica, Arial sans-serif; 
}


.header{
 background: rgba(19, 19, 19, 1);
}


.header-con{ 
 font-family: 'Nunito Sans', Helvetica, Arial sans-serif; 
 display: flex;
 justify-content: space-between;
 font-family: "Nunito Sans";
 height: 83px;
 align-items: center;
} 

.header-nav{
  list-style: none;
  display: flex;
}

.header-nav_item{
  margin-right: 47px;
}

.header-nav_item a { 
  text-decoration: none;
  color:rgba(255, 255, 255, 1);
}

.header .logo{
  color: rgba(227, 184, 115, 1);
  font-family: 'Nunito Sans', Helvetica, Arial sans-serif;
}
